@inherits LayoutComponentBase
@inject IThemeService ThemeService

<FluentLayout>

    <!-- Header -->
    <FluentLayoutItem Area="@LayoutArea.Header">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentLayoutHamburger />
            <FluentText Weight="TextWeight.Bold" Size="TextSize.Size400">
                Fluent UI Blazor Demo - ExpenseTracker
            </FluentText>

            <FluentSpacer />

            @* Theme selection button *@
            <FluentButton Id="theme-menu"
                          Appearance="ButtonAppearance.Transparent"
                          IconStart="@(new Icons.Regular.Size20.Color().WithColor(SystemColors.Neutral.ForegroundOnBrand))"
                          Class="fluent-header-hover"
                          Title="Choose a color theme" />
            <FluentMenu Trigger="theme-menu">
                <FluentMenuList>
                    <FluentMenuItem OnClick="@(async e => await ApplyCustomThemeAsync("#0F6CBD"))">
                        Default
                    </FluentMenuItem>
                    <FluentMenuItem OnClick="@(async e => await ApplyCustomThemeAsync("#BD0F0F"))">
                        Red
                    </FluentMenuItem>
                    <FluentMenuItem OnClick="@(async e => await ApplyCustomThemeAsync("#5DBD0F"))">
                        Green
                    </FluentMenuItem>
                    <FluentMenuItem OnClick="@(async e => await ApplyCustomThemeAsync("#FF8600", isExact: false))">
                        Orange
                    </FluentMenuItem>
                    <FluentMenuItem OnClick="@(async e => await ApplyCustomThemeAsync("#FF8600", isExact: true))">
                        Orange (Exact)
                    </FluentMenuItem>
                </FluentMenuList>
            </FluentMenu>

            @* Dark/Light icon *@
            <FluentButton Appearance="ButtonAppearance.Transparent"
                          IconOnly="true"
                          Class="fluent-header-hover"
                          Title="Switch to Light/Dark theme"
                          OnClick="@(async e => await ThemeService.SwitchThemeAsync())">

                <FluentIcon Class="hidden-if-light"
                            Value="@(new Icons.Filled.Size20.DarkTheme().WithColor(SystemColors.Neutral.ForegroundOnBrand))" />
                <FluentIcon Class="hidden-if-dark"
                            Style="transform: rotate(180deg);"
                            Value="@(new Icons.Filled.Size20.DarkTheme().WithColor(SystemColors.Neutral.ForegroundOnBrand))" />
            </FluentButton>
        </FluentStack>
    </FluentLayoutItem>

    <!-- Navigation -->
    <FluentLayoutItem Area="@LayoutArea.Navigation" Width="250px">

        <FluentNav Padding="@Padding.All2" Style="height: 100%;">
            <FluentNavItem Href="/"
                            Match="NavLinkMatch.All"
                            IconRest="@(new Icons.Regular.Size20.Home())">
                Home
            </FluentNavItem>
            <FluentNavItem Href="/expenses"
                            IconRest="@(new Icons.Regular.Size20.RemixAdd())">
                Expense Tracker
            </FluentNavItem>
            <FluentNavItem Href="/statistics"
                            IconRest="@(new Icons.Regular.Size20.DataPie())">
                Statistics
            </FluentNavItem>
        </FluentNav>

    </FluentLayoutItem>

    <!-- Content -->
    <FluentLayoutItem Area="@LayoutArea.Content">
        @Body
    </FluentLayoutItem>

    <!-- Footer -->
    <FluentLayoutItem Area="@LayoutArea.Footer">
        Powered by Microsoft Fluent UI Blazor @DateTime.Now.Year
    </FluentLayoutItem>

</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* Add all FluentUI Blazor Providers *@
<FluentProviders />

@code
{
    private async Task ApplyCustomThemeAsync(string color, bool isExact = false)
    {
        var isDark = await ThemeService.IsDarkModeAsync();

        var theme = await ThemeService.CreateCustomThemeAsync(new ThemeSettings()
        {
            Color = color,
            Mode = isDark ? ThemeMode.Dark : ThemeMode.Light,
            IsExact = isExact
        });

        await ThemeService.SetThemeAsync(theme);
    }
}